.footer {
  text-align: center;
  padding: 36px;
  &__names {
    font-weight: normal;
    font-size: 25px;
    color: #81b29a;
  }
  &__year {
    font-weight: normal;
    font-size: 25px;
    color: #81b29a;
  }
}
